body{
    background-image: url(pen.jpg);
    background-repeat: no-repeat;
    background-size: 1330px 600px;
}
form{
    border: solid 1px;
    width: 450px;
    margin-left: 100px;
    padding-left: 10px;
}
label{
    font-size: 22px;
    color: crimson;
    font-weight: bold;
}
input{
    height: 35px;
    width: 300px;
    border-radius: 20px;
}
textarea{
    height: 100px;
    width: 300px;
}
button{
    height: 50px;
    width: 150px;
    background-color: red;
    color: white;
    font-size: 22px;
    border-radius: 20px;
}
h1{
    text-align: center;
    font-size: 40px;
}